{{page-title "AssessmentApp"}}

{{outlet}}

<span class="head-text">Digital Wallet &amp; Subscriptions</span><br>
<span class="head-desc-text">Track your wallets and subscriptions</span>

<div class="container">
    <div class="left">
        <div class="my-wallet">
            <h2>My Wallet</h2>
            <p class="amount-title">Current Balance</p>
            <span class="amount"><i class="bi bi-currency-rupee"></i> {{this.amount}}</span>
            <div class="wallet-btn-container">
                <button class="wallet-btn withdraw" type="button">Withdraw</button>
                <button class="wallet-btn add-money" type="button" {{on "click" this.toggleModal}}><i
                        class="bi bi-wallet"></i> Add Money</button>
            </div>
        </div>

        <div class="transaction-history">
            <div class="transaction-header">
                <span class="heading">Transaction History</span>
                <button class="filter" {{on "click" this.toggleFilter}}><i class="bi bi-funnel"></i> Filter</button>
                {{#if this.isFilterOpen}}
                <div class="filter-modal">
                    <input type="checkbox" id="debit"><label for="debit">Debit</label><br>
                    <input type="checkbox" id="refund"><label for="refund">Refund</label><br>
                    <input type="checkbox" id="credit"><label for="credit">Credit</label>
                </div>

                {{/if}}
            </div>
            {{#each this.history as |hist|}}
            <div class="transaction">
                <span class="hist-name">{{hist.name}}</span>
                <span class="hist-desc">{{hist.transaction}}</span>
                <span class={{if (eq hist.transaction "Subscribed" ) "del" "plus" }}>{{if (eq hist.transaction
                    "Subscribed") "-" "+"}}{{hist.subamount}}</span>
            </div>
            {{/each}}
        </div>

        {{#if this.isModelOpen}}
        <div class="overlay"></div>
        <div class="add-modal">
            <i class="bi bi-x-lg close-icon" {{on "click" this.toggleModal}}></i>
            <label for="amount-value">Amount</label>
            <input type="number" placeholder="Enter Amount" id="amount-value">
            <button class="add-btn" type="button" {{on "click" this.addToWallet}}>Add to Wallet</button>
        </div>

        {{/if}}
    </div>

    <div class="subscription-tracker">
        <div class="subscription-tracker-header">
            <div class="subscription-tracker-head">
                <span class="heading">Subscription Tracker</span>
                <span class="description">Your subscriptions</span>
            </div>
            <button class="add-sub-btn" type="button" {{on "click" this.toggleSubModal}}>Add Subscription</button>
        </div>

        <div class="subscriptions">
            {{#each this.subscriptions as |subscription index|}}
            <div class="subscription-card">
                <i class="bi bi-pencil-square edit-icon" {{on "click" (fn this.editSubscription index)}}></i>
                <i class="bi bi-trash edit-icon del" {{on "click" (fn this.dltSubscription index)}}></i>
                <button class="edit-icon cancel" {{on "click" (fn this.cancelSubscription index)}}>Cancel
                    Subscription</button>
                <span class="name">{{subscription.name}}</span>
                <span class="sub-plan">{{subscription.subplan}}</span>
                <div>
                    <span class="sub-amount"><i class="bi bi-currency-rupee"></i> {{subscription.subamount}}</span>/
                    <span class="billing-cycle">{{subscription.billcycle}}</span>
                </div>
                <div>
                    <span class="category">{{subscription.category}}</span>
                    <span class="payment-method">{{subscription.paymethod}}</span>
                </div>
            </div>

            {{else}}
            <div class="empty-subscription">
                <img src="/nosub.png" alt="img" style="width: 500px; height:500px; margin:1rem">
                <p style="font-size: 18px; font-weight:600">No Subscriptions Found</p>
            </div>
            {{/each}}

        </div>

        {{#if this.isSubModelOpen}}
        <div class="overlay"></div>
        <div class="add-sub-modal">
            <i class="bi bi-x-lg close-icon" {{on "click" this.toggleSubModal}}></i>
            <label for="amount-value">Name</label>
            <input type="text" value={{this.name}} placeholder="Enter Name" id="name" {{on "input" this.updateName}}>
            <PowerSelect @selected={{this.subplan}} @options={{this.plans}} @onChange={{this.updatePlan}}
                @labelText="Subscription Plan" as |plan|>
                {{plan}}
            </PowerSelect>
            <PowerSelect @selected={{this.billcycle}} @options={{this.billings}} @onChange={{this.updateBilling}}
                @labelText="Billing Cycle" as |billing|>
                {{billing}}
            </PowerSelect>
            <label for="sub-amount">Amount</label>
            <input type="number" value={{this.subamount}} placeholder="Enter Amount" id="sub-amount" {{on "input"
                this.updateAmount}}>
            <PowerSelect @selected={{this.category}} @options={{this.categories}} @onChange={{this.updateCategory}}
                @labelText="Category" as |category|>
                {{category}}
            </PowerSelect>
            <PowerSelect @selected={{this.paymethod}} @options={{this.paymentMethod}} @onChange={{this.updatePayment}}
                @labelText="Payment Method" as |pay|>
                {{pay}}
            </PowerSelect>
            <button class="add-sub-btn add" type="button" {{on "click" this.addSubscription}}>{{if this.isEditing
                "Update Subscription" "Add Subscription"}} </button>
        </div>
        {{/if}}

    </div>
</div>

<BasicDropdownWormhole />